<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <title>Django real time collaborative whiteboard</title>

  <style>
  .drawArea {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  float: left;
  cursor: crosshair;
}

.path {
  fill: none;
  stroke-width: 1px;
  /*stroke: black; */
  stroke-linejoin: round;
  stroke-linecap: round;
}

.drawing {
  width: 100%;
  height: 100%;
}
  </style>

</head>

<body>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div id="app" class="column">
          <!-- React -->
        </div>
        <div id="download" class="column">
          <a class="button is-primary is-large" href={% url 'whiteboard:download' %}?format=json>Download Drawing as JSON</a>
        </div>
      </div>
    </div>
  </section>
</body>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script>

</html>
